@color-white: #ffffff;
@color-gray: #d4cdcd;
@color-yellow: #fbb714;
@color-transparent-white: #dedddd;
@color-custom-black: #0a0a0a;
@color-custom-gray: #b8b5b5;


@screen__xxs: 320px;
@screen__xs: 480px;
@screen__s: 640px;
@screen__md: 768px;
@screen__m: 992px;
@screen__l: 1024px;
@screen__xl: 1440px;


